@import 'config';


.vote-counter {
    background-color: $light-gray;
    padding: 1rem 0;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1rem .8rem;
    align-items: center;
    justify-content: center;
    height: max-content;
    gap: 1.2em !important;
}

.votes {
    font-weight: 500;
    font-size: 1.5rem;
    color: $moderate-blue;
}

.icon {
    width: fit-content;
    cursor: pointer;
}

.icon:active {
    filter: $moderate-blue;
}

.avartar {
    border-radius: 50%;
    transform: scale(.7);
}

.username {
    font-weight: 700;
}

.post-time {
    font-weight: 400;
}

.button {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: .7rem;
    cursor: pointer;
    font-weight: 500;
    color: $moderate-blue;
}

.button:active {
    opacity: .5;
}

.comment {
    background: $white;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: .8rem;
    width: 54%;
    margin: 0 auto;

    & > div:not(.vote-counter) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: auto;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > div {
                display: flex;
                flex-direction: row; 
                align-items: center;
                gap: 1rem;
            }
        }
    }
}

.reply-section {
    width: 54%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: $grayish-blue;
        width: 1px;
        height: 95%;
        top: 49%;
        left: calc((100% - 90%) / 2);
        transform: translateY(-50%) translateX(calc(-1 * ((100% - 80%) / 2)));
    }
}

.comment-text {
    font-weight: 400;
}

.input-area {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background: $white;
    width: 54%;
    margin: 0 auto;
    border-radius: 1rem;
    align-items: flex-start;

    & textarea {
        flex: auto;
        padding: 1rem;
        border-radius: .5rem;
        resize: none;
        white-space: nowrap;
    }
}

.tag-name {
    color: $moderate-blue;
    font-weight: 700;
}

.you-tag {
    padding: .1rem .3rem;
    color: $white;
    border-radius: .1rem;
    background-color: $moderate-blue;
}

.show-on-mobile {
    display: none !important;
}


/********* Media Queries *********/ 

@media screen and (max-width: 1418px) {
    .comment, .reply-section, .input-area {
        width: 60%;
    }
}

@media screen and (max-width: 1288px) {
    .comment, .reply-section, .input-area {
        width: 70%;
    }
}

@media screen and (max-width: 1112px) {
    .comment, .reply-section, .input-area {
        width: 75%;
    } 
}

@media screen and (max-width: 1054px) {
    .comment, .reply-section, .input-area {
        width: 80%;
    } 
}

@media screen and (max-width: 1000px) {
    .comment, .reply-section, .input-area {
        width: 85%;
    } 
}

@media screen and (max-width: 960px) {
    .comment, .reply-section, .input-area {
        width: 90%;
    } 
}

@media screen and (max-width: 910px) {
    .comment, .reply-section, .input-area {
        width: 95%;
    } 
}

@media screen and (max-width: 850px) {
    .comment, .reply-section, .input-area {
        width: 100%;
    } 
}

@media screen and (max-width: 812px) {
    body {
        padding: 3rem 1rem;
    }

    .show-on-mobile {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;

        & .vote-counter {
            justify-content: center;
            padding: .5rem 0;
        }
    }

    .unshow-on-mobile {
        display: none !important;
    }

    .comment {
        flex-direction: column-reverse;
    }

    .input-area {
        flex-direction: column-reverse;

        & > div, & textarea{
            flex: auto;
            width: 100%;
        }
    }

    .reply-section::before {
        left: 0;
    }

    .reply {
        width: 95% !important;
    }

    .votes {
        font-size: 1.2rem;
    }
}


