@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

body {
  background-color: #eaecf1;
  padding: 3rem;
}

.vote-counter {
  background-color: #eaecf1;
  padding: 1rem 0;
  border-radius: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 8em;
      flex-basis: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 1.5em !important;
}

.votes {
  font-weight: 500;
  font-size: 1.5rem;
  color: #5457b6;
}

.icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.icon:active {
  -webkit-filter: #5457b6;
          filter: #5457b6;
}

.avartar {
  border-radius: 50%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.username {
  font-weight: 700;
}

.post-time {
  font-weight: 400;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .7rem;
  cursor: pointer;
  font-weight: 500;
  color: #5457b6;
}

.button:active {
  opacity: .5;
}

.comment {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: .8rem;
  width: 54%;
  margin: 0 auto;
}

.comment > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.comment > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.reply-section {
  width: 54%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  position: relative;
}

.reply-section::before {
  content: '';
  position: absolute;
  background: #67727e;
  width: 1px;
  height: 95%;
  top: 49%;
  left: calc((100% - 90%) / 2);
  -webkit-transform: translateY(-50%) translateX(calc(-1 * ((100% - 80%) / 2)));
          transform: translateY(-50%) translateX(calc(-1 * ((100% - 80%) / 2)));
}

.comment-text {
  font-weight: 400;
}

.input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background: white;
  width: 54%;
  margin: 0 auto;
  border-radius: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input-area textarea {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 1rem;
  border-radius: .5rem;
  resize: none;
  white-space: nowrap;
}

.tag-name {
  color: #5457b6;
  font-weight: 700;
}

.you-tag {
  padding: .1rem .3rem;
  color: white;
  border-radius: .1rem;
  background-color: #5457b6;
}

.show-on-mobile {
  display: none !important;
}

/********* Media Queries *********/
@media screen and (max-width: 1418px) {
  .comment, .reply-section, .input-area {
    width: 60%;
  }
}

@media screen and (max-width: 1288px) {
  .comment, .reply-section, .input-area {
    width: 70%;
  }
}

@media screen and (max-width: 1112px) {
  .comment, .reply-section, .input-area {
    width: 75%;
  }
}

@media screen and (max-width: 1054px) {
  .comment, .reply-section, .input-area {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .comment, .reply-section, .input-area {
    width: 85%;
  }
}

@media screen and (max-width: 960px) {
  .comment, .reply-section, .input-area {
    width: 90%;
  }
}

@media screen and (max-width: 910px) {
  .comment, .reply-section, .input-area {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {
  .comment, .reply-section, .input-area {
    width: 100%;
  }
}

@media screen and (max-width: 812px) {
  body {
    padding: 3rem 1rem;
  }
  .show-on-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .show-on-mobile .vote-counter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5rem 0;
  }
  .unshow-on-mobile {
    display: none !important;
  }
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .input-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .input-area > div, .input-area textarea {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
  }
  .reply-section::before {
    left: 0;
  }
  .reply {
    width: 95% !important;
  }
  .votes {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */